.choice-wrap {
	margin-top: 50px;
}

.autolawyer-wrap {
	margin-top: 55px;
	height: auto;
}

.autolawyer-header {
	width: auto;
	height: auto;
}

.autolawyer-header h2 {
	color: #3b445b;
	font-family: 'Open Sans Bold';
	font-size: 32px;
}

.autolawyer-header a {
	margin-top: 10px;
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans Regular';
	color: #484848;
	padding-bottom: 12px;
}

.autolawyer-header a:last-child {
	text-decoration: none;
}

.autolawyer-content {
	width: 100%;
	height: auto;
}

.question-wrap {
	margin-top: 26px;
	max-width: 1088px;
	height: auto;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	box-shadow: 5px 0px 29px rgba(0,0,0,0.17);
}

.visible-text {
	width: auto;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	background-color: #fff;
	padding: 20px 0 20px 18px;
	font-family: 'Open Sans Bold';
	font-size: 18px;
	color: #484848;
	background-image: url("../img/pointer-down.svg");
	background-repeat: no-repeat;
	background-position-x: 98.2%;
	background-position-y: 50%;
	padding-right: 35px;
	cursor: pointer;
}

.visible-text  img {
	float: right;
	padding-right: 20px;
	vertical-align: middle;
}

.invisible-text {
	background-color: #f5f5f5;
	height: auto;
	width: 100%;
	border-radius: 0 0 10px 10px;
	padding: 0;
}

.invisible-text h4 {
	padding: 24px 0 20px 18px;
	font-family: 'Open Sans Bold';
	font-size: 18px;
}

.invisible-text p {
	font-family: 'Open Sans Regular';
	font-size: 14px;
	padding: 0 18px 30px 18px;
}

.subhead-title-wrap {
	max-width: 441px;
}

.border-change {
	border-radius: 8px 8px 0 0 !important;
}

.background-change {
	background-image: url("../img/pointer-up.svg");
}

.choice-wrap {
	margin-top: 41px !important;
}

@media only screen and (max-width: 1130px){
	.autolawyer-header {
		padding-left: 15px;
	}
}

@media only screen and (max-width: 427px) {
	.subhead-title-wrap span{
		font-size: 24px;	
	}

	.subhead-title-wrap {
		height: 17px;
	}
} 